.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.history-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.table-header {
  background-color: #99dfe0;
  text-align: center;
}

.history-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #89cff0;
  text-align: center;
}

th,
td {
  padding: 12px 15px;
}

td {
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #060606;
}

/* .station-available{
  color:green;
}
.station-unavailable{
  color:red;
} */
